rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow list;
      allow get;
      allow create: if isAllowedDomain();
      allow update: if isAllowedDomain();
      allow delete: if isAllowedDomain();
    }
    
    function isAllowedDomain() {
      return request.auth.token.email_verified == true &&
             request.auth.token.email.matches("chester8484@gmail.com")
    }
  }
}